$primary: #F1A610;
$info: #3A3185;

$accent: #FF5C00;
$link: #0E53A7;
$link-hover: #138ED9;
$button: #43AA12;
$button-hover: #50C619;
$button-disabled: #3A990D;

$text: #131314;

$nprogressColor: $primary;